*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: lightgray;  
}

header {
    width: 100%;
    padding: 10px 20px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav-left {
    display: flex;
}

.main-nav-left a {
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}


.main-nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* homepage */

.index-main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 10px;
}

.index-article {
    grid-column: 1;
    padding: 20px 10px;
}

.index-aside {
    grid-column: 2;
    padding: 20px 10px;
}

/* gallery */

#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: 140px;                 
    gap: 10px;
    min-height: 100vh;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* example of class selector*/
.gallery-image.tall {
    grid-row: span 2;  
}

.gallery-image.wide {
    grid-column: span 2; 
}

.image-wrapper {
    width: 100%;
    height: 200px;      
    overflow: scroll;  
    border: 1px solid #ccc;
}

.image-wrapper img {
    width: 200%;        
    height: auto;
}


/* contact */

#form {
    background: #1a46ff;
    color: white;
    padding: 50px;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title title"
        "subtitle subtitle"
        "name email"
        "phone phone"
        "submit submit";
    gap: 20px;

    width: 80%;
    max-width: 700px;
    text-align: center;
}

#form h1 {
    grid-area: title;
    font-size: 36px;
}

#form h2 {
    grid-area: subtitle;
    font-size: 18px;
    font-weight: 300;
}

#name-field {
    grid-area: name;
}

#email-field {
    grid-area: email;
}

#phone-field {
    grid-area: phone;
}

#submit-field {
    grid-area: submit;
}

input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    color: black;
}

button {
    padding: 15px;
    font-size: 18px;
    background: white;
    color: #1a46ff;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}