*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: lightgray;  
}

header {
    width: 100%;
    padding: 10px 20px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav-left {
    display: flex;
}

.main-nav-left a {
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}


.main-nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* homepage */

main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: ;
}

/* gallery */


/* contact */